<?xml version='1.0' encoding='utf-8'?>
<widget
	id="com.example.ios7scrollfix-example"
	version="0.0.1"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:gap="http://phonegap.com/ns/1.0">
    <name>cordova-ios7fix-example</name>
    <description>
        A sample Apache Cordova application that shows what my plugin ios7fix tries to solve.
    </description>
    <author email="winkler@kerosieben.de">
        bwin
    </author>
    <content src="index.html" />
    <access origin="*" />

    <gap:plugin name="com.kerosieben.cordova.plugins.ios7scrollfix" version="0.1.0" />
    <preference name="IOS7PreventWebViewScrolling" value="true"/>

    <preference name="phonegap-version"  value="3.3.0"/>
    <preference name="DisallowOverscroll" value="true"/>
</widget>
